
<div dir="rtl">
    <h2>فعالسازی حساب کاربری</h2>
    <hr>
    <p>
        کاربر گرامی برای فعال سازی حساب خود روی لینک زیر کلیک کنید
    </p>
    <img src="http://127.0.0.1:8000/media/images/product/61IJBsHm97L_WflzhH5.jpg" alt="">
    <p>
        <a href="http://localhost:8000{% url 'activate-email-page' active_code=user.active_email_code %}">فعال سازی</a>
    </p>
</div>












{#<style>#}
{#    .activate {#}
{#        background-color: rgb(105, 105, 206);#}
{#        margin-right: 800px;#}
{#        position: relative;#}
{#        left: 421px;#}
{#        height: 430px;#}
{#        border-radius: 12px;#}
{#        width: 490px;#}
{##}
{#    }#}
{#    .img-icon-activate {#}
{#        width: 450px;#}
{#        position: relative;#}
{#        left: 20px;#}
{#        top: 15px;#}
{#        border-radius: 12px;#}
{##}
{#    }#}
{#    .link {#}
{#        position: relative;#}
{#        left: 115px;#}
{#        top: 130px;#}
{#    }#}
{#    .btn {#}
{#        height: 45px;#}
{#        width: 150px;#}
{#        border-radius: 10px;#}
{#        border: none;#}
{#        position: relative;#}
{#        bottom: 100px;#}
{#        left: 60px;#}
{#        background-color: rgb(225, 225, 233);#}
{#        font-size: 20px;#}
{#    }#}
{#    .btn:hover {#}
{#        cursor: pointer;#}
{#    }#}
{#    h1 {#}
{#        text-align: center;#}
{#    }#}
{#    h3 {#}
{#        text-align: center;#}
{#    }#}
{#</style>#}

{#<body>#}
{#    <h1>فعالسازی حساب کاربری</h1>#}
{#    <div class="activate" dir = rtl>#}
{#        <img class="img-icon-activate" src="http://127.0.0.1:8000/media/images/product/61IJBsHm97L_WflzhH5.jpg"/>#}
{#        <h3>#}
{#        کاربر گرامی برای فعالسازی حساب خود بروی لینک زیر کلیک کنید#}
{#        </h3>#}
{#    </div>#}
{#    <hr>#}
{#    <a href="http://localhost:8000{% url 'activate-email-page' active_code=user.active_email_code %}" class="link">فعال سازی</a>#}
{##}
{#</body>#}
