{% extends 'shared/base.html' %}

{% block title %}
    فراموشی کلمه عبور
{% endblock %}


{% block content %}
    <div class="container">
		<section id="form"><!--form-->
			<div class="row">
				<div class="col-sm-6 col-sm-offset-3" id="forgot_show">
					<div class="login-form"><!--login form-->
						<h2>فراموشی کلمه عبور</h2>
						<form action="{% url 'forgot-page' %}" method="post">
                            {% csrf_token %}
							{{ forgot_pass.email.label_tag }}
                            {{ forgot_pass.email }}
                            {{ forgot_pass.email.errors }}
							<button type="submit" class="btn btn-default">فراموشی کلمه عبور</button>
						</form>
					</div><!--/login form-->
				</div>
			</div>
		</section>
	</div>
{% endblock %}