{% extends 'shared/base.html' %}


{% block title %}
    ورود به حساب
{% endblock %}

{% block content %}
    <div class="container">
        <div id = "show-alert">

        </div>
		<section id="form"><!--form-->
			<div class="row">
				<div class="col-sm-6 col-sm-offset-3" id="login_show">
					<div class="login-form"><!--login form-->
						<h2>ورود به حساب کاربـری :</h2>
						<form action="{% url 'login-page' %}" method="post">
                            {% csrf_token %}
							{{ login_form.email.label_tag }}
                            {{ login_form.email }}
                            {{ login_form.email.errors }}
                            {{ login_form.password.label_tag }}
                            {{ login_form.password }}
                            {{ login_form.password.errors }}
							<span>
								<input type="checkbox" class="checkbox">
								مرا بخاطـر بسپـار
							</span>
							<span>
								<a href="{% url 'forgot-page' %}">رمـز عبـور خود را فراموش کرده ام</a>
							</span>
							<button type="submit" class="btn btn-default">ورود</button>
						</form>
					</div><!--/login form-->
				</div>
			</div>
		</section>
	</div>
{% endblock %}