{% extends 'shared/base.html' %}
{% load thumbnail %}
{% block title %}
    تغییر کلمه عبور
{% endblock %}



{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <a class="thumbnail">
                    {% thumbnail "images/site-setting/pass3.jpg " '268x250' padding=True  as im%}
                        <img src="{{ im.url }}" style="width: 100%" alt="">
                    {% endthumbnail %}
                </a>
                {% include 'includes/dashboard_menu.html' %}

            </div>
            <div class="col-md-8">
                <form action="{% url 'change-password' %}" method="post">
                    {% csrf_token %}
                {% if form.errors %}
                    <div class="alert alert-danger">
                        {{ form.current_password.errors }}
                        {{ form.confirm_password.errors }}
                        {{ form.new_password.errors }}
                    </div>
                {% endif %}



                    {{ form.as_p }}

                    <input type="submit" style="margin-bottom: 9px" class="btn btn-success pull-right" id="sabt"  value="ثبت">
                </form>
            </div>
        </div>
    </div>
{% endblock %}
